{% extends 'Account/base.html' %}


{% block title %}
{% if request.user.is_active and request.user.is_staff %}
Manage Customer Orders
{% else %}
Order History
{% endif %}
{% endblock %}


{% block main %}
Welcome, {{user.get_full_name}}
<br>
<br>
<div class="row">
    <div class="col-12">
        {%if qs %}
        <div class="card">
          <div class="card-header">
            <a href="{% url 'account:product-create' %}" class="btn btn-primary">Add New Product</a>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for items in qs %}
                  <tr>
                      <td><a href="{% url 'shop:detail' items.id %}">{{items.title}}</a></td>
                      <td>{{items.price}}</td>
                      <td>{{items.category.all|join:", "}}</td>
                      <td>{{items.description|truncatewords:20}}</td>
                      <td>
                        <a class="btn btn-sm btn-info" href="{% url 'account:product-update' items.id %}">Edit</a>
                        {% if user.is_superuser %}
                        <a class="btn btn-sm btn-danger" href="{% url 'account:product-delete' items.id %}">Delete</a>
                        {% endif %}
                      </td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
        {% else %}
        <h3>There is nothing to show</h3>
        {% endif %}
    </div>
</div>
{% endblock %}