{% extends 'Account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
حذف محصول
{% endblock %}

{% block main %}
خوش آمدید {{user.get_full_name}}
<br>
<br>
<div class="col-md-12 text-center mx-auto">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">حذف محصول</h3>
        </div>
        <form method="post">{% csrf_token %}
            <p>آیا از حذف این محصول اطمینان دارید؟</p>
            <input class="btn btn-danger" type="submit" value="حذف محصول">
        </form>
    </div>
</div>
{% endblock %} 