{% load static %}


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar krait-sidebar-flex">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <i class="fas fa-user-circle fa-2x text-light"></i>
        </div>
        <div class="info">
          <a href="{% url 'account:profile' %}" class="d-block">{{ user.get_full_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'account:orders' %}" class="nav-link {% if request.resolver_match.url_name == 'orders' %}active bg-info{% endif %}">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>Order History</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="{% url 'account:profile' %}" class="nav-link {% if request.resolver_match.url_name == 'profile' %}active bg-info{% endif %}">
              <i class="nav-icon far fa-user"></i>
              <p>Edit Profile</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account:password-change' %}" class="nav-link {% if request.resolver_match.url_name == 'password-change' %}active bg-info{% endif %}">
              <i class="nav-icon fas fa-key"></i>
              <p>Change Password</p>
            </a>
          </li>
          {% if request.user.is_active and request.user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'manager:dashboard' %}" class="nav-link">
              <i class="nav-icon fas fa-user-shield"></i>
              <p>Manager</p>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'shop:checkout' %}" class="nav-link {% if request.resolver_match.url_name == 'checkout' %}active bg-info{% endif %}">
              <i class="nav-icon fas fa-shopping-basket"></i>
              <p>View My Cart</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

    <div class="krait-sidebar-logout">
      <form method="post" action="{% url 'account:logout' %}">
        {% csrf_token %}
        <button type="submit" class="nav-link">
          <i class="nav-icon fas fa-sign-out-alt"></i>
          <p>Log out</p>
        </button>
      </form>
    </div>
  </aside>