{% load static %}


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'account:profile' %}" class="brand-link">
      <img src = "{% static 'registration/adminlte/dist/img/AdminLTELogo.png' %}" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">
        {% if request.user.is_active and request.user.is_staff %}
            پنل مدیریت
        {% else %}
            پنل کاربری
        {% endif %}
        
      </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <i class="fas fa-user-circle fa-2x text-light"></i>
        </div>
        <div class="info">
          <a href="{% url 'account:profile' %}" class="d-block">{{ user.get_full_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'account:orders' %}" class="nav-link {% if request.resolver_match.url_name == 'orders' %}active bg-info{% endif %}">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>{% if request.user.is_active and request.user.is_staff %}
                سفارشات مشتریان
               {% else %}
                تاریخچه ی سفارشات
               {% endif %}</p>
            </a>
          </li>
          {% if request.user.is_active and request.user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'account:products' %}" class="nav-link {% if request.resolver_match.url_name == 'products' %}active bg-info{% endif %}">
              <i class="nav-icon fas fa-box"></i>
              <p>لیست تمام محصولات</p>
            </a>
          </li>
          {% endif %}
          {% if request.user.is_active and request.user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'account:product-create' %}" class="nav-link {% if request.resolver_match.url_name == 'product-create' %}active bg-info{% endif %}">
              <i class="nav-icon fas fa-plus-circle"></i>
              <p>ساخت محصول جدید</p>
            </a>
          </li>
          {% endif %}
          
          <li class="nav-item">
            <a href="{% url 'account:profile' %}" class="nav-link {% if request.resolver_match.url_name == 'profile' %}active bg-info{% endif %}">
              <i class="nav-icon far fa-user"></i>
              <p>ویرایش پروفایل</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'shop:checkout' %}" class="nav-link {% if request.resolver_match.url_name == 'checkout' %}active bg-info{% endif %}">
              <i class="nav-icon fas fa-shopping-basket"></i>
              <p>بررسی سبد خرید شخصی</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>