DJANGO_SECRET_KEY=change-me-to-a-random-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
ZARINPAL_MERCHANT_CODE=sdgtgjhkyioplrndmkrtygfkdlserpwderds
ZARINPAL_SANDBOX=1
MINIMUM_ORDER_AMOUNT=100000
