DJANGO_SECRET_KEY=change-me-to-a-random-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
ZARINPAL_MERCHANT_CODE=sdgtgjhkyioplrndmkrtygfkdlserpwderds
ZARINPAL_SANDBOX=1
MINIMUM_ORDER_AMOUNT=100000
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=no-reply@productkrait.local
