asgiref
az-iranian-bank-gateways
certifi
cffi
charset-normalizer
cryptography
crispy-bootstrap4
defusedxml
Django
django-braces
django-cors-headers
django-crispy-forms
django-model-utils
django-redis
django-templated-mail
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
oauthlib
packaging
Pillow
pycparser
PyJWT
python-dotenv
python3-openid
pytz
redis
PyYAML
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
