{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}{% if object %}Edit category{% else %}New category{% endif %}{% endblock %}
{% block title %}{% if object %}Edit "{{ object.title }}"{% else %}New category{% endif %}{% endblock %}
{% block main %}
<div class="card"><div class="card-body">
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success">{% if object %}Save changes{% else %}Create category{% endif %}</button>
    <a href="{% url 'manager:categories' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div></div>
{% endblock %}
