{% extends 'Account/auth_base.html' %}
{% load widget_tweaks %}
{% block title %}Choose a new password{% endblock %}
{% block heading %}New password{% endblock %}
{% block content %}
{% if validlink %}
<form method="post">{% csrf_token %}
	{% for field in form %}
		{% if field.errors %}<div class="errors">{% for error in field.errors %}<span>{{ error }}</span>{% endfor %}</div>{% endif %}
		<label class="txt1" for="{{ field.id_for_label }}">{{ field.label }}</label>
		<div class="wrap-input100">
			{{ field|add_class:"input100" }}
		</div>
	{% endfor %}
	<div class="container-login100-form-btn">
		<div class="wrap-login100-form-btn">
			<div class="login100-form-bgbtn"></div>
			<button class="login100-form-btn">Save password</button>
		</div>
	</div>
</form>
{% else %}
<p class="txt1">This reset link is invalid or has already been used. Please request a new one.</p>
<div class="text-center p-t-40"><a class="txt2" href="{% url 'account:password-reset' %}">Request a new link</a></div>
{% endif %}
{% endblock %}
